body {
  height: 100vh;
  margin: 0;

  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.size-button {
  background-color: blueviolet;

  color: black;
  font-size: 24px;

  border: 2px solid violet;
  border-radius: 5px;

  padding: 8px 24px;
}

/* GRID */

.container {
  display: flex;
  flex-wrap: wrap;

  width: 90vh;
  border: 2px solid black;
}

.drawing-square {
  aspect-ratio: 1/1;
  flex: 1 1 6.25%;
}
