/*
* {
  border: 2px solid red;
}
*/

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  justify-content: center;
  align-items: center;
  flex: 0 1 40%;

  display: flex;
  flex-wrap: wrap;

  border: 2px solid black;
  margin: 2rem;
}

.drawing-square {
  aspect-ratio: 1/1;
  flex: 1 1 20%;
  border: 1px solid black;
}
